{
	"$schema": "http://json.schemastore.org/prettierrc",
	"singleQuote": true,
	"printWidth": 120,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"semi": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"editorconfig": true
}
